/.m2/
bin/
build/
*.py
.gradle/
*._trace
*.xtendbin
org.eclipse.buildship.core.prefs
.DS_Store
*.class
xtend-gen/
test-bin/
src-gen/
*.xml_gen
target
generated
generated-sources
model
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders/
.factorypath
.texlipse
.apt_generated/
